.btn {
  background-color: rebeccapurple;
  color: white !important;
  display: block;
  line-height: 40px;
  text-align: center;
  max-width: 140px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: 300ms;
}

.btn:hover {
  cursor: pointer;
  transition: 300ms;
  transform: scale(1.1) perspective(1px)
}
