.banner {
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 45%;
    padding: 1rem 4rem;
}

@media (max-width: 996px) {
    .text-container {
        width: 80%;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    font-size: 3rem;
}
