.our-locations {
    padding: 3rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 0.5rem;
    align-content: center;
}

@media (max-width: 996px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
